<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Curso</h2>
      </ion-col>
      <ion-col>
        <h2>Asignatura</h2>
      </ion-col>
      <ion-col class="ion-text-right">
        <h2>Acciones</h2>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let curso of cursos$">
      <ion-col>
        <p>{{ curso.nombre }}</p>
      </ion-col>
      <ion-col>
        <p>{{ curso.asignatura }}</p>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button (click)="setCurso(curso)">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
