<ion-footer class="ion-text-center"> 
  <ion-toolbar>
    <ion-title class="ion-align-items-center">
      <ion-icon name="logo-ionic"></ion-icon>
      <ion-icon name="logo-ionic" size="large"></ion-icon>
      <ion-icon name="logo-ionic" color="primary"></ion-icon>
      <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
      DuocUC&trade; 2023
      <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
      <ion-icon name="logo-ionic" color="primary"></ion-icon>
      <ion-icon name="logo-ionic" size="large"></ion-icon>
      <ion-icon name="logo-ionic"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-footer>
