ion-label, ion-input {
    display: flex;
    margin-bottom: 10px;
  }

ion-label {
    font-weight: bold;
}  

ion-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

.container {
    padding: 20px;
}