<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">ALUMNOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aquí puedes escanear códigos QR y confirmar tu asistencia</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-icon name="school" size="large" color="primary" class="ion-margin-top"></ion-icon>
</ion-content>
