<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <p>Ingrese su nombre de usuario y contraseña para acceder al portal académico.</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <div class="text-center">
        <img src="assets/logotipo.png" alt="logo" class="img-fluid">
      </div>
      <h2 class="text-center">INICIAR SESIÓN</h2>

      <ion-input formControlName="email" placeholder="Correo Electrónico" type="email" shape="round" required>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-note color="danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Ingrese un correo electrónico válido.
        </ion-note>
      </ion-input>

      <ion-input formControlName="password" placeholder="Contraseña" type="password" shape="round" required>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-note color="danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          La contraseña debe tener al menos 6 caracteres, una mayúscula, un número
          y un símbolo especial.
        </ion-note>
      </ion-input>

      <ion-checkbox slot="end" formControlName="rememberMe">
        Mantener sesión iniciada
      </ion-checkbox>

      <ion-label (click)="forgotPassword()" role="link">
        ¿Olvidó su contraseña?
      </ion-label>

      <ion-button type="submit" expand="block" size="large" shape="round" [disabled]="!loginForm.valid">
        INGRESAR
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>

<app-footer></app-footer>
