<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/curso"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-text-center">
      <ion-title size="large">{{ nombre }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>{{ asignatura }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="newQR">
        <qrcode [qrdata]="newQR" [width]="150" [errorCorrectionLevel]="'M'" [allowEmptyString]="true"></qrcode>
      </div>
      <h2>Alumnos registrados</h2>
      <ion-grid>
        <ion-row>
          <ion-col>Nombre</ion-col>
          <ion-col>Hora</ion-col>
        </ion-row>
        <ion-row *ngFor="let ua of usersAndAsistencias$ | async">
          <ion-col *ngIf="ua.user">{{ua.user.first_name}}</ion-col>
          <ion-col *ngIf="ua.asistencia">{{ua.asistencia.fecha | date:'shortTime'}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
